In [1]:
import re
import difflib
import pandas as pd
from datetime import datetime
from typing import List, Callable, Dict

In [2]:
# Load the customers dataset
customers_df = pd.read_csv(
    "../data/01_raw/olist_customers_dataset.csv",
    converters={
        'customer_zip_code_prefix': str # Convert ZIP codes to strings
    }
)
customers_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,03937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,06764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,06703,cotia,SP

In [3]:
# Load the geolocation dataset
geolocation_df = pd.read_csv(
    "../data/01_raw/olist_geolocation_dataset.csv",
    converters={
        'geolocation_zip_code_prefix': str # Convert ZIP codes to strings
    }
)
geolocation_df

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,01037,-23.545621,-46.639292,sao paulo,SP
1,01046,-23.546081,-46.644820,sao paulo,SP
2,01046,-23.546129,-46.642951,sao paulo,SP
3,01041,-23.544392,-46.639499,sao paulo,SP
4,01035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [4]:
# Load the orders dataset
orders_df = pd.read_csv("../data/01_raw/olist_orders_dataset.csv")
orders_df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [5]:
# Load the products dataset
products_df = pd.read_csv("../data/01_raw/olist_products_dataset.csv")
products_df

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [6]:
# Load the sellers dataset
sellers_df = pd.read_csv(
    "../data/01_raw/olist_sellers_dataset.csv",
    converters={
        'seller_zip_code_prefix': str # Convert ZIP codes to strings
    }
)
sellers_df

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,04195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,04650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [7]:
def drop_rows_lat_lng(df: pd.DataFrame, lat_lng_conditions: dict) -> pd.DataFrame:
    """
    Removes rows from the DataFrame that do not match the specified conditions for the latitude and longitude.

    Args:
        df (pd.DataFrame): The input DataFrame.
        lat_lng_conditions (dict): A dictionary containing the minimum and maximum lat and lng values.

    Returns:
        pd.DataFrame: The DataFrame with rows matching the conditions removed.
    """
    try:
        # Initialize the mask for rows to keep
        mask = pd.Series(True, index=df.index)
        lat_condition = lat_lng_conditions["geolocation_lat"]
        lng_condition = lat_lng_conditions["geolocation_lng"]

        # Create the conditions
        conditions = {
            'geolocation_lat': lambda x: lat_condition['min'] < x < lat_condition['max'],
            'geolocation_lng': lambda x: lng_condition['min'] < x < lng_condition['max']
        }

        for column, condition in conditions.items():
            # Apply the condition and remove rows which do not meet the condition
            mask &= df[column].apply(condition)
        
        # Return the filtered DataFrame
        return df[mask]
    
    except Exception as e:
        # Showcase the error
        print(f"An unexpected error occurred: {e}")
        return df

In [8]:
conditions = {
    'geolocation_lat': {
        'min': -33.742,
        'max': 5.272
    },
    'geolocation_lng': {
        'min': -73.992,
        'max': -34.792
    }
}

In [9]:
drop_rows_lat_lng(geolocation_df, lat_lng_conditions=conditions)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,01037,-23.545621,-46.639292,sao paulo,SP
1,01046,-23.546081,-46.644820,sao paulo,SP
2,01046,-23.546129,-46.642951,sao paulo,SP
3,01041,-23.544392,-46.639499,sao paulo,SP
4,01035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [10]:
geolocation_df

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,01037,-23.545621,-46.639292,sao paulo,SP
1,01046,-23.546081,-46.644820,sao paulo,SP
2,01046,-23.546129,-46.642951,sao paulo,SP
3,01041,-23.544392,-46.639499,sao paulo,SP
4,01035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [11]:
def drop_rows_missing_values(df: pd.DataFrame, subset: List[str], how: str) -> pd.DataFrame:
    """
    Removes rows from the DataFrame that have missing values.

    Args:
        df (pd.DataFrame): The input DataFrame.
        subset (List[str]): The columns to search for missing values.
        how (str): Determines whether to drop rows with any missing or all missing values.

    Returns:
        pd.DataFrame: The DataFrame with the missing values removed from the specified columns.
    """
    try:
        # Ensure the 'how' argument is valid
        if how not in ['any', 'all']:
            raise ValueError("The 'how' parameter must be either 'any' or 'all'.")
        
        # Check if columns exist in the DataFrame
        missing_columns = [col for col in subset if col not in df.columns]
        if missing_columns:
            raise ValueError(f"Columns not found in the DataFrame: {', '.join(missing_columns)}")

        # Drop rows where the specified columns/fields have null entries
        return df.dropna(subset=subset, how=how)
    
    except ValueError as ve:
        print(f"ValueError: {ve}")
        return df

    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return df

In [12]:
products_df.columns.drop('product_id')

Index(['product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')

In [13]:
drop_rows_missing_values(products_df, subset=list(products_df.columns.drop('product_id')), how='all')

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [14]:
products_df

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [15]:
def drop_columns(df: pd.DataFrame, columns_to_drop: List[str]) -> pd.DataFrame:
    """
    Drops the specified columns in the DataFrame.

    Args:
        df (pd.DataFrame): The input DataFrame.
        columns_to_drop (List[str]): List of the specified columns to be removed from the Dataframe.

    Returns:
        pd.DataFrame: The DataFrame with the specified columns removed.
    """
    try:
        # Check if all specified columns exist in the DataFrame
        missing_columns = [col for col in columns_to_drop if col not in df.columns]
        if missing_columns:
            raise ValueError(f"Columns not found in the DataFrame: {', '.join(missing_columns)}")
        
        # Drop the specified columns from the DataFrame
        return df.drop(columns=columns_to_drop)
    
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return df 
    
drop_columns(orders_df, columns_to_drop=['order_approved_at', 'order_delivered_carrier_date'])

,order_id,customer_id,order_status,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-16 13:08:30,2018-04-03 00:00:00

In [16]:
geolocation_df

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,01037,-23.545621,-46.639292,sao paulo,SP
1,01046,-23.546081,-46.644820,sao paulo,SP
2,01046,-23.546129,-46.642951,sao paulo,SP
3,01041,-23.544392,-46.639499,sao paulo,SP
4,01035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [17]:
def aggregate_by_column(df: pd.DataFrame, column: str, agg: dict) -> pd.DataFrame:
    """
    Aggregates the dataset by the specified column according to the specified aggregation functions.

    Args:
        df (pd.DataFrame): The input DataFrame.
        column (str): The column to group by.
        agg (str): The dictionary to aggregate the other columns by.

    Returns:
        pd.DataFrame: The aggregated DataFrame.
    """
    try:
        # Check if the column exist in the DataFrame
        is_column_missing = True if column not in df.columns else False
        if is_column_missing:
            raise ValueError(f"Column not found in the DataFrame")
        
        # Convert mode to the lambda callable for the aggregation function
        for field, aggregation in agg.items():
            if aggregation == 'mode':
                agg[field] = lambda x: x.mode().iloc[0]
            else:
                agg[field] = aggregation
                
        # Aggregate the input DataFrame by the specified column
        aggregated_df = df.groupby(column).agg(agg)

        # Return the aggregated Dataframe
        return aggregated_df
    
    except ValueError as ve:
        print(f"ValueError: {ve}")
        return df

    except Exception as e:
        # Show the error
        print(f"An unexpected error occurred: {e}")
        return df

agg = {
    'geolocation_lat': 'median',
    'geolocation_lng': 'median',
    'geolocation_city': 'mode',
    'geolocation_state': 'mode',
}


aggregate_by_column(geolocation_df, column='geolocation_zip_code_prefix', agg=agg)

,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
geolocation_zip_code_prefix,,,,
01001,-23.550381,-46.634027,sao paulo,SP
01002,-23.548551,-46.635072,sao paulo,SP
01003,-23.548977,-46.635313,sao paulo,SP
01004,-23.549535,-46.634771,sao paulo,SP
01005,-23.549612,-46.636532,sao paulo,SP
...,...,...,...,...
99960,-27.953797,-52.029641,charrua,RS
99965,-28.179542,-52.035551,agua santa,RS
99970,-28.343273,-51.873734,ciriaco,RS
99980,-28.388092,-51.846880,david canabarro,RS
99990,-28.329595,-51.769362,muliterno,RS

In [57]:
    
def replace_diacritics(text: str) -> str:
    """
    Replaces diacritics with standard alphabets.

    Args:
        text (str): The input string which may contain diacritic.

    Returns:
        str: Outputs a string where the diacritics is replaced with standard alphabet letters.
    """
    # Initialise the regular expressions for diacritics conversion
    replacements = {
        r'[Ã£Ã¢Ã¢Ã Ã¡Ã¤]': 'a',
        r'[Ã­Ã®Ã¬]': 'i',
        r'[ÃºÃ»Ã¹Ã¼]': 'u',
        r'[Ã©ÃªÃ¨Ã«]': 'e',
        r'[Ã³ÃµÃ´Ã²Ã¶]': 'o',
        r'[Ã§]': 'c'
    }

    # Checks if the text is a string
    if isinstance(text, str):
        for pattern, replacement in replacements.items():
            text = re.sub(pattern, replacement, text)
        return text
    else:
        raise ValueError("Text must be a string")


def standardize_cities(df: pd.DataFrame, city_column: str) -> pd.DataFrame:
    """
    Standardizes the names of the cities in the city column of the DataFrame.

    Args:
        df (pd.DataFrame): The input DataFrame.
        city_column (str): The column containing the city names.

    Returns:
        pd.DataFrame: The DataFrame with standardised names for the cities.
    """
    try:
        # Check if the column exist in the DataFrame
        is_column_missing = True if city_column not in df.columns else False
        if is_column_missing:
            raise ValueError(f"Column not found in the DataFrame")
        
        # Replaces diacritics with plain alphabets
        df[city_column] = df[city_column].apply(replace_diacritics)
        
        return df
    
    except ValueError as ve:
        # Show error
        print(f"ValueError: {ve}")
        return df
    
    except Exception as e:
        # Show error
        print(f"An unexpected error occurred: {e}")
        return df

In [19]:
# Determine the list of citites
customers_df['customer_city'].value_counts()

customer_city
sao paulo                15540
rio de janeiro            6882
belo horizonte            2773
brasilia                  2131
curitiba                  1521
                         ...
marques de souza             1
general maynard              1
cerrito                      1
mocajuba                     1
governador mangabeira        1
Name: count, Length: 4119, dtype: int64

In [20]:

from sklearn.preprocessing import StandardScaler, OneHotEncoder

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [21]:
    
# standardize_cities(geolocation_df, city_column='geolocation_city', city_list=''):

In [54]:

def mice_impute_entries(df: pd.DataFrame, imputation_parameters: dict) -> pd.DataFrame:
    """
    Imputes entries in the DataFrame using MICE.
    
    Args:
        df (pd.DataFrame): The dataset with missing entries.
        imputation_parameters (dict): A dictionary that contains the parameters for imputing the missing age entries
            - significant_numerical_columns (List[str]): The numerical columns which are significant for the MICE imputer to fit by.
            - significant_categorical_columns (List[str]): The categorical columns which are significant for the MICE imputer to fit by.
            - max_iter (int, optional): The maximum number of imputation iterations. Default is 10.
            - random_state (int, optional): The seed used by the MICE imputer. Default is 0.
    
    Returns:
        pd.DataFrame: The dataset with imputed entries.
    """
    try:
        # Identify the numerical and categorical columns from the significant columns
        numerical_cols = imputation_parameters.get('numerical_columns', [])
        categorical_cols = imputation_parameters.get('categorical_columns', [])

        # Get the max iteration and random state for the MICE imputer
        max_iter = imputation_parameters.get('max_iter', 10)
        random_state = imputation_parameters.get('random_state', 42)

        # Define a list containing all the significant columns above
        significant_cols = numerical_cols + categorical_cols

        # Check if these columns exist in the DataFrame
        missing_columns = [col for col in significant_cols if col not in df.columns]
        if missing_columns:
            raise ValueError(f"Columns not found in the DataFrame: {', '.join(missing_columns)}")

        # Identify the columns which are not used in the imputation
        columns_not_used = [col for col in df.columns if col not in significant_cols]

        # Instantiate the IterativeImputer (MICE imputer), OneHotEncoder and StandardScaler
        mice_imputer = IterativeImputer(max_iter=max_iter, 
                                        random_state=random_state,
                                        min_value=0.17,
                                        max_value=80,
                                        initial_strategy='median')
        
        ohe_encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
        scaler = StandardScaler()

        # Obtain the subset of the dataset
        imputing_df = df[significant_cols]

        # Scale the numerical fields with standard scaling
        if numerical_cols:
            scaled_numerical_data = scaler.fit_transform(imputing_df[numerical_cols])
            scaled_numerical_df = pd.DataFrame(scaled_numerical_data, columns=numerical_cols, index=imputing_df.index)
        else:
            scaled_numerical_df = pd.DataFrame()

        # One hot encode the categorical fields
        if categorical_cols:
            encoded_categorical_data = ohe_encoder.fit_transform(imputing_df[categorical_cols])
            encoded_categorical_df = pd.DataFrame(
                encoded_categorical_data,
                columns=ohe_encoder.get_feature_names_out(categorical_cols),
                index=imputing_df.index
            )
        else:
            encoded_categorical_df = pd.DataFrame()

        # Combine the processed numerical and categorical data
        processed_df = pd.concat([scaled_numerical_df, encoded_categorical_df], axis=1)

        # Apply MICE imputation and convert the data to a dataframe
        imputed_data = mice_imputer.fit_transform(processed_df)
        imputed_df = pd.DataFrame(imputed_data, columns=processed_df.columns, index=processed_df.index)

        # Restore the numerical scaling to the original
        if numerical_cols:
            restored_numerical_data = scaler.inverse_transform(imputed_df[numerical_cols])
            restored_numerical_df = pd.DataFrame(
                restored_numerical_data, columns=numerical_cols, index=imputed_df.index
            )
        else:
            restored_numerical_df = pd.DataFrame()

        # Restore categorical columns to their original categories
        if categorical_cols:
            restored_categorical_data = ohe_encoder.inverse_transform(imputed_df[ohe_encoder.get_feature_names_out(categorical_cols)])
            restored_categorical_df = pd.DataFrame(
                restored_categorical_data, columns=categorical_cols, index=imputed_df.index
            )
        else:
            restored_categorical_df = pd.DataFrame()

        # Combine the restored numerical and categorical columns
        restored_df = pd.concat([restored_numerical_df, restored_categorical_df], axis=1)

        # Combine the restored dataframe with the other columns that were not used
        if columns_not_used:
            restored_df[columns_not_used] = df[columns_not_used]

        return restored_df
    
    except ValueError as ve:
        # Show the error
        print(f"ValueError: {ve}")
        return df
    
    except Exception as e:
        # Show the error
        print(f"An unexpected error occurred: {e}")
        return df

In [52]:
imputation_parameters = {
    'numerical_columns': list(products_df.columns.drop(['product_id', 'product_category_name'])),
    'categorical_columns': [],
    'max_iter': 100,
    'random_state': 42
}

In [53]:
list(products_df.columns.drop(['product_id', 'product_category_name']))

['product_name_lenght',
 'product_description_lenght',
 'product_photos_qty',
 'product_weight_g',
 'product_length_cm',
 'product_height_cm',
 'product_width_cm']

In [56]:
dataset = mice_impute_entries(products_df, imputation_parameters)
dataset[dataset.isna().any(axis=1)]

Empty DataFrame
Columns: [product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm, product_id, product_category_name]
Index: []

In [26]:
products_df[products_df.isna().any(axis=1)]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
105,a41e356c76fab66334f36de622ecbd3a,NaN,NaN,NaN,NaN,650.0,17.0,14.0,12.0
128,d8dee61c2034d6d075997acef1870e9b,NaN,NaN,NaN,NaN,300.0,16.0,7.0,20.0
145,56139431d72cd51f19eb9f7dae4d1617,NaN,NaN,NaN,NaN,200.0,20.0,20.0,20.0
154,46b48281eb6d663ced748f324108c733,NaN,NaN,NaN,NaN,18500.0,41.0,30.0,41.0
197,5fb61f482620cb672f5e586bb132eae9,NaN,NaN,NaN,NaN,300.0,35.0,7.0,12.0
...,...,...,...,...,...,...,...,...,...
32515,b0a0c5dd78e644373b199380612c350a,NaN,NaN,NaN,NaN,1800.0,30.0,20.0,70.0
32589,10dbe0fbaa2c505123c17fdc34a63c56,NaN,NaN,NaN,NaN,800.0,30.0,10.0,23.0
32616,bd2ada37b58ae94cc838b9c0569fecd8,NaN,NaN,NaN,NaN,200.0,21.0,8.0,16.0
32772,fa51e914046aab32764c41356b9d4ea4,NaN,NaN,NaN,NaN,1300.0,45.0,16.0,45.0
32852,c4ceee876c82b8328e9c293fa0e1989b,NaN,NaN,NaN,NaN,700.0,28.0,3.0,43.0

In [27]:
dataset.describe()

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32951.000000,32951.00000,32951.000000,32951.000000,32951.000000,32951.000000,32951.000000
mean,48.509987,773.58436,2.194489,2276.517662,30.815252,16.937802,23.196853
std,10.153354,629.40346,1.721082,4281.912701,16.913960,13.637152,12.078691
min,5.000000,4.00000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,42.000000,344.00000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,51.000000,604.00000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,57.000000,961.24668,3.000000,1900.000000,38.000000,21.000000,30.000000
max,76.000000,3992.00000,20.000000,40425.000000,105.000000,105.000000,118.000000

In [28]:
products_df.describe()

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32341.000000,32341.000000,32341.000000,32949.000000,32949.000000,32949.000000,32949.000000
mean,48.476949,771.495285,2.188986,2276.472488,30.815078,16.937661,23.196728
std,10.245741,635.115225,1.736766,4282.038731,16.914458,13.637554,12.079047
min,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

In [29]:
def simple_impute_entries(df: pd.DataFrame, column: str, value: str) -> pd.DataFrame:
    """
    Imputes missing entries in the DataFrame using a specified value.
    
    Args:
        df (pd.DataFrame): The input dataset with missing entries.
        column (str): The column to impute.
        value (str): The value to impute into the empty cell.
    
    Returns:
        pd.DataFrame: The dataset with imputed entries.
    """
    try:
        # Check if the column exist in the DataFrame
        is_column_missing = True if column not in df.columns else False
        if is_column_missing:
            raise ValueError(f"Column not found in the DataFrame")
        
        # Impute the empty cells in the column with the specified value
        df[column] = df[column].fillna(value)
        return df
        
    except ValueError as ve:
        # Show error
        print(f"ValueError: {ve}")
        return df
    
    except Exception as e:
        # Show error
        print(f"An unexpected error occurred: {e}")
        return df

In [30]:
dataset = simple_impute_entries(products_df, column='product_category_name', value='Missing')
dataset[dataset.isna().any(axis=1)]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
105,a41e356c76fab66334f36de622ecbd3a,Missing,NaN,NaN,NaN,650.0,17.0,14.0,12.0
128,d8dee61c2034d6d075997acef1870e9b,Missing,NaN,NaN,NaN,300.0,16.0,7.0,20.0
145,56139431d72cd51f19eb9f7dae4d1617,Missing,NaN,NaN,NaN,200.0,20.0,20.0,20.0
154,46b48281eb6d663ced748f324108c733,Missing,NaN,NaN,NaN,18500.0,41.0,30.0,41.0
197,5fb61f482620cb672f5e586bb132eae9,Missing,NaN,NaN,NaN,300.0,35.0,7.0,12.0
...,...,...,...,...,...,...,...,...,...
32515,b0a0c5dd78e644373b199380612c350a,Missing,NaN,NaN,NaN,1800.0,30.0,20.0,70.0
32589,10dbe0fbaa2c505123c17fdc34a63c56,Missing,NaN,NaN,NaN,800.0,30.0,10.0,23.0
32616,bd2ada37b58ae94cc838b9c0569fecd8,Missing,NaN,NaN,NaN,200.0,21.0,8.0,16.0
32772,fa51e914046aab32764c41356b9d4ea4,Missing,NaN,NaN,NaN,1300.0,45.0,16.0,45.0
32852,c4ceee876c82b8328e9c293fa0e1989b,Missing,NaN,NaN,NaN,700.0,28.0,3.0,43.0

In [70]:
def date_difference(row: pd.Series, params: dict) -> int:
    """
    Calculate the difference in days between two dates.

    Parameters:
        row (pd.Series): The row from the dataset.
        mapping (dict): A dictionary containing:
            - 'date1': Column name for the first date.
            - 'date2': Column name for the second date.
            - 'date1_format': Format of the first date.
            - 'date2_format': Format of the second date.

    Returns:
        int: The difference in days between the two dates.
    """
    try:
        # Identify the 2 dates
        date1 = row[params['date1']]
        date2 = row[params['date2']]

        # Check if there are any missing dates
        if pd.isna(date1) or pd.isna(date2):
            return None # Returns None when its not delivered yet
        
        # Parse the dates
        d1 = datetime.strptime(date1, params['date1_format'])
        d2 = datetime.strptime(date2, params['date2_format'])

        # Calculate the difference
        day_difference = (d2 - d1).days
        return day_difference
    
    except ValueError as ve:
        raise ValueError(f"Invalid date or format: {ve}")
    
def feature_engineering(df: pd.DataFrame, new_feature: str, function_name: str, mapping: Dict[str, str]) -> pd.DataFrame:
    """
    Create a new feature based on the features in the row.

    Parameters:
        df (pd.DataFrame): The input DataFrame.
        new_feature (str): The column name of the new feature to be created.
        function_name (str): The name of the function to be applied in order to create the feature.
        mapping (List[str]): Mapping column names to the parameter names used by the function. Provides other arguments for the function.

    Returns:
        pd.DataFrame: The DataFrame with new features.
    """
    # Obtain the function based on name
    function = globals()[function_name]

    # Check if the function is valid
    if not callable(function):
        raise ValueError(f"Function is invalid or not callable")
    
    # Initialise the feature engineered DataFrame
    feature_engineered_df = df.copy()
    
    # Apply the function to each row and create the new feature
    feature_engineered_df[new_feature] = df.apply(lambda row: function(row, mapping), axis=1)
    return feature_engineered_df

In [32]:
mapping = {
    'date1': "order_delivered_customer_date",
    'date2': "order_estimated_delivery_date",
    'date1_format': "%Y-%m-%d %H:%M:%S",
    'date2_format': "%Y-%m-%d %H:%M:%S",
}

feature_engineering(orders_df, new_feature='estimated_actual_delivery_offset', function=date_difference, mapping=mapping).sort_values('estimated_actual_delivery_offset')

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,estimated_actual_delivery_offset
55619,1b3190b2dfa9d789e1f14c05b647a14a,d306426abe5fca15e54b645e4462dc7b,delivered,2018-02-23 14:57:35,2018-02-23 15:16:14,2018-02-26 18:49:07,2018-09-19 23:24:07,2018-03-15 00:00:00,-189.0
19590,ca07593549f1816d26a572e06dc1eab6,75683a92331068e2d281b11a7866ba44,delivered,2017-02-21 23:31:27,2017-02-23 02:35:15,2017-03-08 13:47:46,2017-09-19 14:36:39,2017-03-22 00:00:00,-182.0
11399,47b40429ed8cce3aee9199792275433f,cb2caaaead400c97350c37a3fc536867,delivered,2018-01-03 09:44:01,2018-01-03 10:31:15,2018-02-06 01:48:28,2018-07-13 20:51:31,2018-01-19 00:00:00,-176.0
81401,2fe324febf907e3ea3f2aa9650869fa5,65b14237885b3972ebec28c0f7dd2220,delivered,2017-03-13 20:17:10,2017-03-13 20:17:10,2017-03-17 07:23:53,2017-09-19 17:00:07,2017-04-05 00:00:00,-168.0
89130,285ab9426d6982034523a855f55a885e,9cf2c3fa2632cee748e1a59ca9d09b21,delivered,2017-03-08 22:47:40,2017-03-08 22:47:40,2017-03-09 08:53:20,2017-09-19 14:00:04,2017-04-06 00:00:00,-167.0
...,...,...,...,...,...,...,...,...,...
99283,3a3cddda5a7c27851bd96c3313412840,0b0d6095c5555fe083844281f6b093bb,canceled,2018-08-31 16:13:44,NaN,NaN,NaN,2018-10-01 00:00:00,NaN
99313,e9e64a17afa9653aacf2616d94c005b8,b4cd0522e632e481f8eaf766a2646e86,processing,2018-01-05 23:07:24,2018-01-09 07:18:05,NaN,NaN,2018-02-06 00:00:00,NaN
99347,a89abace0dcc01eeb267a9660b5ac126,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,NaN,NaN,NaN,2018-09-27 00:00:00,NaN
99348,a69ba794cc7deb415c3e15a0a3877e69,726f0894b5becdf952ea537d5266e543,unavailable,2017-08-23 16:28:04,2017-08-28 15:44:47,NaN,NaN,2017-09-15 00:00:00,NaN
99415,5fabc81b6322c8443648e1b21a6fef21,32c9df889d41b0ee8309a5efb6855dcb,unavailable,2017-10-10 10:50:03,2017-10-14 18:35:57,NaN,NaN,2017-10-23 00:00:00,NaN

In [33]:
customers_df['customer_city'].value_counts().index

Index(['sao paulo', 'rio de janeiro', 'belo horizonte', 'brasilia', 'curitiba',
       'campinas', 'porto alegre', 'salvador', 'guarulhos',
       'sao bernardo do campo',
       ...
       'cambiasca', 'comercinho', 'pires ferreira', 'piquerobi',
       'passo de camaragibe', 'marques de souza', 'general maynard', 'cerrito',
       'mocajuba', 'governador mangabeira'],
      dtype='object', name='customer_city', length=4119)

In [34]:
geolocation_df['geolocation_city'].value_counts().index

Index(['sao paulo', 'rio de janeiro', 'belo horizonte', 'sÃ£o paulo',
       'curitiba', 'porto alegre', 'salvador', 'guarulhos', 'brasilia',
       'sao bernardo do campo',
       ...
       'cirÃ­aco', 'trÃªs arroios', 'mar vermelho', 'poxim', 'olho dÃ¡gua grande',
       'sao bras', 'sÃ£o brÃ¡s', 'ibitiranga', 'quixabÃ¡', 'maceiaÂ³'],
      dtype='object', name='geolocation_city', length=8011)

In [35]:
dataset = geolocation_df.drop_duplicates().groupby('geolocation_zip_code_prefix').agg({
    'geolocation_city': lambda x: x.mode().iloc[0]
})
dataset

                            geolocation_city
geolocation_zip_code_prefix
01001                              sao paulo
01002                              sao paulo
01003                              sao paulo
01004                              sao paulo
01005                              sao paulo
...                                      ...
99960                                charrua
99965                             agua santa
99970                                ciriaco
99980                        david canabarro
99990                              muliterno

[19015 rows x 1 columns]

In [36]:
import unicodedata
# Check if the given text contains any diacritic characters.
def identify_diacritics(text):
    for char in text:
        # Normalize the character to NFD and check for combining marks
        if any(unicodedata.category(mark) == 'Mn' for mark in unicodedata.normalize('NFD', char)):
            return True
    return False

# Identify characters in the text that are not letters or diacritics.
def identify_non_letter_and_non_diacritic(text):
    # Initialise the non diacritic characters list
    non_letter_diacritic_chars = []
    
    for char in text:
        # Get the Unicode category of the character
        char_category = unicodedata.category(char)
        # 'L' = Letter categories, 'M' = Mark categories (diacritics)
        if not char_category.startswith(('L', 'M')) and char not in [' ', '-', '\'', '(', ')']:
            non_letter_diacritic_chars.append(char)
    return bool(non_letter_diacritic_chars)

In [37]:
dataset[dataset['geolocation_city'].apply(identify_diacritics)]

                                   geolocation_city
geolocation_zip_code_prefix
01133                                     sÃ£o paulo
01256                                     sÃ£o paulo
01290                                     sÃ£o paulo
02170                                     sÃ£o paulo
02231                                     sÃ£o paulo
...                                             ...
95310                                andrÃ© da rocha
96130                                   colÃ´nia z-3
97306                                   sÃ£o gabriel
97310                                   sÃ£o gabriel
99265                        santo antÃ´nio do palma

[194 rows x 1 columns]

In [38]:
dataset[dataset['geolocation_city'].apply(identify_non_letter_and_non_diacritic)]

                                   geolocation_city
geolocation_zip_code_prefix
29735                        quilometro 14 do mutum
96130                                   colÃ´nia z-3

In [39]:
customers_df[customers_df['customer_zip_code_prefix'] == '29735']

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
6333,94ea98eea015faad90cd64998848d18d,0b7fea4fad79c46f6c10b848e20e9115,29735,quilometro 14 do mutum,ES

In [40]:
set(sellers_df['seller_zip_code_prefix'])

{'48602',
 '04265',
 '76330',
 '04735',
 '89222',
 '72460',
 '36071',
 '14610',
 '86050',
 '21740',
 '24120',
 '21931',
 '14055',
 '03827',
 '38400',
 '03384',
 '59775',
 '88730',
 '93800',
 '12226',
 '30390',
 '02030',
 '12062',
 '17011',
 '89219',
 '72801',
 '03565',
 '09416',
 '85501',
 '09443',
 '12215',
 '12924',
 '05503',
 '12570',
 '37006',
 '06186',
 '20020',
 '72233',
 '18950',
 '01547',
 '19063',
 '01035',
 '38650',
 '15813',
 '22790',
 '01129',
 '23092',
 '05083',
 '05302',
 '13272',
 '29704',
 '18080',
 '98920',
 '44895',
 '04827',
 '02119',
 '58073',
 '85960',
 '13566',
 '14093',
 '35557',
 '17506',
 '03185',
 '35930',
 '15845',
 '15054',
 '09530',
 '04104',
 '13212',
 '03035',
 '08041',
 '03311',
 '06787',
 '03126',
 '03018',
 '87900',
 '11702',
 '13390',
 '89063',
 '33940',
 '15041',
 '13311',
 '83323',
 '89228',
 '36886',
 '06730',
 '19830',
 '01320',
 '75345',
 '78020',
 '14027',
 '36046',
 '09831',
 '03287',
 '38680',
 '95013',
 '87702',
 '90620',
 '20021',
 '17604',
 '89203',
 '21040',
 '19820',
 '24710',
 '06760',
 '07094',
 '13403',
 '05537',
 '28615',
 '03340',
 '82640',
 '12051',
 '05315',
 '99300',
 '74565',
 '20770',
 '02963',
 '13310',
 '33200',
 '82320',
 '85875',
 '36050',
 '18047',
 '04795',
 '02013',
 '89065',
 '74835',
 '19814',
 '01039',
 '08050',
 '03551',
 '04154',
 '09891',
 '36407',
 '04213',
 '96020',
 '06150',
 '89650',
 '32240',
 '30180',
 '83050',
 '95560',
 '96400',
 '97110',
 '09182',
 '14025',
 '88137',
 '31520',
 '12604',
 '74150',
 '85865',
 '04361',
 '06853',
 '15015',
 '01021',
 '01214',
 '01545',
 '14010',
 '87140',
 '89287',
 '88102',
 '03273',
 '51250',
 '93310',
 '02523',
 '09131',
 '24445',
 '04801',
 '08541',
 '21235',
 '17052',
 '20920',
 '12512',
 '04696',
 '52011',
 '17018',
 '04041',
 '31565',
 '29313',
 '81530',
 '14401',
 '76500',
 '38412',
 '07241',
 '25550',
 '14050',
 '89204',
 '20930',
 '87360',
 '38183',
 '86703',
 '12270',
 '87035',
 '36401',
 '13481',
 '73801',
 '06311',
 '14021',
 '28633',
 '17515',
 '17605',
 '88353',
 '03543',
 '05004',
 '01001',
 '09015',
 '08820',
 '09715',
 '04123',
 '18136',
 '86060',
 '85988',
 '03265',
 '09510',
 '05705',
 '23954',
 '71936',
 '15131',
 '87040',
 '35300',
 '13456',
 '03318',
 '30315',
 '08593',
 '05615',
 '17520',
 '03147',
 '06330',
 '15115',
 '03655',
 '04851',
 '27277',
 '06317',
 '02258',
 '84530',
 '08655',
 '09280',
 '13324',
 '05372',
 '30190',
 '15704',
 '94930',
 '29150',
 '03372',
 '04363',
 '03275',
 '07025',
 '02804',
 '80240',
 '89120',
 '02236',
 '13505',
 '05713',
 '15013',
 '87065',
 '13330',
 '01226',
 '20060',
 '38950',
 '14940',
 '89082',
 '01208',
 '78820',
 '02992',
 '04424',
 '15050',
 '22051',
 '25900',
 '02925',
 '89255',
 '36512',
 '82800',
 '06768',
 '13490',
 '80740',
 '88035',
 '13408',
 '06703',
 '58030',
 '03423',
 '17370',
 '13015',
 '99500',
 '13232',
 '13601',
 '04660',
 '88085',
 '15075',
 '23062',
 '87025',
 '03322',
 '02016',
 '13473',
 '95625',
 '88113',
 '03306',
 '03659',
 '89870',
 '80730',
 '04476',
 '08150',
 '04137',
 '05879',
 '88058',
 '27525',
 '86010',
 '15051',
 '69005',
 '44002',
 '30310',
 '04365',
 '01042',
 '37165',
 '18040',
 '70070',
 '02544',
 '95150',
 '01044',
 '06060',
 '86360',
 '07747',
 '30120',
 '33936',
 '71906',
 '07790',
 '32419',
 '13825',
 '12916',
 '81720',
 '04282',
 '05311',
 '05676',
 '18680',
 '11085',
 '13506',
 '88061',
 '01212',
 '13487',
 '18681',
 '04310',
 '13375',
 '09921',
 '06544',
 '80620',
 '05763',
 '05138',
 '89460',
 '02737',
 '19029',
 '12209',
 '09171',
 '09111',
 '80220',
 '14870',
 '04193',
 '07183',
 '07071',
 '18401',
 '95076',
 '01319',
 '88090',
 '04180',
 '38401',
 '01310',
 '09780',
 '18604',
 '03644',
 '30775',
 '03813',
 '04558',
 '87005',
 '83070',
 '07113',
 '02350',
 '01309',
 '09520',
 '03880',
 '11070',
 '03244',
 '13150',
 '09270',
 '12306',
 '20040',
 '87045',
 '09830',
 '03237',
 '04508',
 '02972',
 '29056',
 '83535',
 '17350',
 '13843',
 '08080',
 '03059',
 '82300',
 '09861',
 '01140',
 '09350',
 '11010',
 '49055',
 '14784',
 '06713',
 '13090',
 '16306',
 '07901',
 '11431',
 '38410',
 '14790',
 '71215',
 '13920',
 '93040',
 '26600',
 '07400',
 '21825',
 '24900',
 '03087',
 '20771',
 '20766',
 '89023',
 '08502',
 '14140',
 '03319',
 '13165',
 '37400',
 '21510',
 '14312',
 '18270',
 '35044',
 '13600',
 '15085',
 '88210',
 '35501',
 '17700',
 '83321',
 '20081',
 '27963',
 '90640',
 '03191',
 '85830',
 '89022',
 '08832',
 '88390',
 '03910',
 '18048',
 '01023',
 '18608',
 '22420',
 '45658',
 '17600',
 '25251',
 '28660',
 '02372',
 '36015',
 '07402',
 '04716',
 '86030',
 '71551',
 '87505',
 '12995',
 '03063',
 '09320',
 '02215',
 '91740',
 '05314',
 '11707',
 '78095',
 '05319',
 '09810',
 '90010',
 '05174',
 '06283',
 '09785',
 '21210',
 '07140',
 '06038',
 '06180',
 '20551',
 '04156',
 '17510',
 '14960',
 '86800',
 '13205',
 '86975',
 '04255',
 '29161',
 '14095',
 '89215',
 '11900',
 '95800',
 '21545',
 '55325',
 '14400',
 '18055',
 '86707',
 '16301',
 '07791',
 '81200',
 '07411',
 '08577',
 '74043',
 '07180',
 '05468',
 '05424',
 '13483',
 '09812',
 '93425',
 '88351',
 '12308',
 '07176',
 '08030',
 '82560',
 '83709',
 '89812',
 '85906',
 '94910',
 '24855',
 '14860',
 '13482',
 '03963',
 '04870',
 '13347',
 '02411',
 '81830',
 '13327',
 '13720',
 '13905',
 '18053',
 '20091',
 '29600',
 '06132',
 '09820',
 '09561',
 '37004',
 '18590',
 '93608',
 '99670',
 '74305',
 '83005',
 '05588',
 '03564',
 '95885',
 '93900',
 '04141',
 '08573',
 '03304',
 '06900',
 '01220',
 '01403',
 '12228',
 '15056',
 '03560',
 '07133',
 '18035',
 '03725',
 '07192',
 '17504',
 '04776',
 '03550',
 '15290',
 '06419',
 '03017',
 '19010',
 '11040',
 '85903',
 '01156',
 '81900',
 '02238',
 '95650',
 '06276',
 '80210',
 '36032',
 '35700',
 '38701',
 '02334',
 '03103',
 '74223',
 '04088',
 '83322',
 '15802',
 '04293',
 '37640',
 '05530',
 '09411',
 '15940',
 '30130',
 '41342',
 '09570',
 '13033',
 '03363',
 '14075',
 '03333',
 '26210',
 '02880',
 '13185',
 '14405',
 '31140',
 '72125',
 '05201',
 '83405',
 '05048',
 '20735',
 '06807',
 '45816',
 '21921',
 '60346',
 '09180',
 '05571',
 '81650',
 '04557',
 '87240',
 '89259',
 '03449',
 '04937',
 '64033',
 '12246',
 '31560',
 '90560',
 '13560',
 '95500',
 '17606',
 '87015',
 '31130',
 '05624',
 '06663',
 '13471',
 '36301',
 '38230',
 '25803',
 '32372',
 '02337',
 '21635',
 '09340',
 '28990',
 '74645',
 '01541',
 '20751',
 '13082',
 '02310',
 '20756',
 '72210',
 '04445',
 '52010',
 '15505',
 '04378',
 '08452',
 '19025',
 '13561',
 '09080',
 '29010',
 '90220',
 '90240',
 '31842',
 '89180',
 '08517',
 '13030',
 '01125',
 '03331',
 '26230',
 '04216',
 '07070',
 '18085',
 '26562',
 '04615',
 '04208',
 '18060',
 '03106',
 '87303',
 '04209',
 '03563',
 '06694',
 '02470',
 '85065',
 '80030',
 '88704',
 '15046',
 '13060',
 '85640',
 '08598',
 '15014',
 '02451',
 '04386',
 '03701',
 '86385',
 '02242',
 '45820',
 '18185',
 '92025',
 '89053',
 '03702',
 '02614',
 '06144',
 '36010',
 '95995',
 '36576',
 '02518',
 '85802',
 '05462',
 '25750',
 '89207',
 '09572',
 '89295',
 '81030',
 '86192',
 '89217',
 '37975',
 '81320',
 '03804',
 '91350',
 '18130',
 '15130',
 '13140',
 '02320',
 '09291',
 '13360',
 '09360',
 '41820',
 '13202',
 '09090',
 '04708',
 '01126',
 '84430',
 '04733',
 '06715',
 '12233',
 '29160',
 '03279',
 '36500',
 '02751',
 '90630',
 '04119',
 '13042',
 '13273',
 '83402',
 '04516',
 '13568',
 '13177',
 '18200',
 '37410',
 '89190',
 '29101',
 '09230',
 '22451',
 '38010',
 '88350',
 '14840',
 '06192',
 '02510',
 '25645',
 '80710',
 '07043',
 '06162',
 '05715',
 '08431',
 '07123',
 '03448',
 '60110',
 '95034',
 '04307',
 '81110',
 '06716',
 '12401',
 '07160',
 '29260',
 '94810',
 '31035',
 '03028',
 '04761',
 '38440',
 '04850',
 '02610',
 '82315',
 '18074',
 '31570',
 '39740',
 '38414',
 '39400',
 '13070',
 '13097',
 '03569',
 '08290',
 '02820',
 '03065',
 '13206',
 '20520',
 '04130',
 '29102',
 '82400',
 '26051',
 '84925',
 '31365',
 '13180',
 '03548',
 '32140',
 '08260',
 '24310',
 '90850',
 '02710',
 '86040',
 '86690',
 '89201',
 '03210',
 '13178',
 '01303',
 '01420',
 '14026',
 '85884',
 '81930',
 '03168',
 '89251',
 '21840',
 '03504',
 '07124',
 '04251',
 '04275',
 '32315',
 '04547',
 '83450',
 '04101',
 '03553',
 '07152',
 '22745',
 '05786',
 '08773',
 '03178',
 '09687',
 '13573',
 '04773',
 '13690',
 '05008',
 '86300',
 '16012',
 '03416',
 '87120',
 '89819',
 '03236',
 '83010',
 '07023',
 '74343',
 '86065',
 '95660',
 '84500',
 '05685',
 '09405',
 '07062',
 '04364',
 '45810',
 '04613',
 '89820',
 '04821',
 '04367',
 '01529',
 '18072',
 '13304',
 '14802',
 '06429',
 '89225',
 '15190',
 '03171',
 '06506',
 '01539',
 '35540',
 '89240',
 '04007',
 '35701',
 '07859',
 '81050',
 '95012',
 '15062',
 '13328',
 '89041',
 '31340',
 '98803',
 '19023',
 '01026',
 '06332',
 '02929',
 '88075',
 '89258',
 '02727',
 '14076',
 '01139',
 '95840',
 '89036',
 '85980',
 '37570',
 '19803',
 '23050',
 '07032',
 '40243',
 '15840',
 '24451',
 '01206',
 '14150',
 '83091',
 '83015',
 '16072',
 '28810',
 '37650',
 '24754',
 '08743',
 '86804',
 '83075',
 '85851',
 '37795',
 '89211',
 '89136',
 '07866',
 '02918',
 '93032',
 '13073',
 '88220',
 '14850',
 '14910',
 '80320',
 '26551',
 '89117',
 '88316',
 '14801',
 '37900',
 '84600',
 '07097',
 '04650',
 '31110',
 '86600',
 '78552',
 '14403',
 '85950',
 '23080',
 '83411',
 '29300',
 '13800',
 '89220',
 '13504',
 '13211',
 '13870',
 '02274',
 '06380',
 '88820',
 '05849',
 '30575',
 '04273',
 '20521',
 '03031',
 '08810',
 '55002',
 '15804',
 '70384',
 '08673',
 '07031',
 '31910',
 '15910',
 '03204',
 '19815',
 '93336',
 '05639',
 '86801',
 '12941',
 '37564',
 '18701',
 '01022',
 '92310',
 '15805',
 '17032',
 '13457',
 '06539',
 '05632',
 '82040',
 '13911',
 '95098',
 '02515',
 '03121',
 '12903',
 '72304',
 '02028',
 '90250',
 '13186',
 '07242',
 '02415',
 '89210',
 '88308',
 '96080',
 '13660',
 '17280',
 '06036',
 '89170',
 '85804',
 '04693',
 '86802',
 '02122',
 '04674',
 '14580',
 '02336',
 '19400',
 '13215',
 '03976',
 '21070',
 '85816',
 '70719',
 '80215',
 '28800',
 ...}

In [41]:
sellers_df[~sellers_df['seller_zip_code_prefix'].isin(set(customers_df['customer_zip_code_prefix']))]

,seller_id,seller_zip_code_prefix,seller_city,seller_state
6,e49c26c3edfa46d227d5121a6b6e4d37,55325,brejao,PE
40,d3674f271c91f824f82d24d92011f669,72233,brasilia,DF
79,78813699ffac347fe27dba345a5f1551,95711,bento goncalves,RS
95,cda598c48d7c614bc1cad7d8ff6f0010,15137,mirassol,SP
129,784ba75dd9d20200c4caed3d7a77141a,01040,sao paulo,SP
...,...,...,...,...
2949,8e29d051f810eb22959ede205b462b9f,15131,mirassol,SP
2982,d66c305afaec317ebee552073a674429,33936,ribeirao das neves,MG
3028,870d0118f7a9d85960f29ad89d5d989a,37708,pocos de caldas,MG
3058,66e0557ecc2b4dbea057e93f215f68d8,04771,sao paulo,SP
3082,dde698c6d0bd24834c586e5111c2bba7,25755,petropolis,RJ

In [42]:
sellers_df[~sellers_df['seller_zip_code_prefix'].isin(set(dataset.index)) & ~sellers_df['seller_zip_code_prefix'].isin(set(customers_df['customer_zip_code_prefix']))]

,seller_id,seller_zip_code_prefix,seller_city,seller_state
473,5962468f885ea01a1b6a97a218797b0a,82040,curitiba,PR
791,2aafae69bf4c41fbd94053d9413e87ee,91901,porto alegre,RS
1672,2a50b7ee5aebecc6fd0ff9784a4747d6,72580,brasilia,DF
1931,2e90cb1677d35cfe24eef47d441b7c87,02285,sao paulo,SP
3028,870d0118f7a9d85960f29ad89d5d989a,37708,pocos de caldas,MG

In [43]:
sellers_df[~sellers_df['seller_zip_code_prefix'].isin(set(dataset.index))]

,seller_id,seller_zip_code_prefix,seller_city,seller_state
473,5962468f885ea01a1b6a97a218797b0a,82040,curitiba,PR
791,2aafae69bf4c41fbd94053d9413e87ee,91901,porto alegre,RS
1672,2a50b7ee5aebecc6fd0ff9784a4747d6,72580,brasilia,DF
1931,2e90cb1677d35cfe24eef47d441b7c87,02285,sao paulo,SP
2182,0b3f27369a4d8df98f7eb91077e438ac,07412,aruja,SP
2986,42bde9fef835393bb8a8849cb6b7f245,71551,brasilia,DF
3028,870d0118f7a9d85960f29ad89d5d989a,37708,pocos de caldas,MG

In [44]:
lol = dataset.reset_index()

In [45]:
new = lol.merge(customers_df, how='inner', left_on='geolocation_zip_code_prefix', right_on='customer_zip_code_prefix')
new[~(new['customer_city'] == new['geolocation_city'])].head(50)

,geolocation_zip_code_prefix,geolocation_city,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
665,01256,sÃ£o paulo,5206bdc4d7ecb9869166f99fc635a5b1,5064f15200f59b32518135b8dfdcf99d,01256,sao paulo,SP
2246,02231,sÃ£o paulo,5e4b0c76f331945cd0ebb67a3adce403,8d66f98c026e3d77ea0c70f5a2c8e98e,02231,sao paulo,SP
4917,03294,sÃ£o paulo,7d96202874e65d22c7793fb158ed8495,ad97668eed5826a5d800b15351bea269,03294,sao paulo,SP
10791,04875,sÃ£o paulo,6fe9ae6b3e2e3ee18fddcfe17f29b226,3fc19a1a15d5d29c01c2f687bd497d00,04875,sao paulo,SP
11676,05120,sÃ£o paulo,3fcfab0e565a45accff1282416588060,15219300c0299c01fef6cbc7444494e5,05120,sao paulo,SP
11677,05120,sÃ£o paulo,d7c47b2b00ac1ab4163de1707a3b3ae3,fc8fc2c9ffef45e833ce9734c44aa868,05120,sao paulo,SP
12143,05315,sÃ£o paulo,ec5f9c9dd3ff056f05411979267887a5,640ac18151727c99757e30b92253dbc0,05315,sao paulo,SP
13182,05606,sÃ£o paulo,50bcce86319ecdf2df1edeae7272a38e,bd6e919ea010cdfb03825ac482546540,05606,sao paulo,SP
16743,06768,taboÃ£o da serra,ceead79d927539feb1a27e3ec80cac36,f75da962fb4ddac1569e90c21803c455,06768,taboao da serra,SP
16744,06768,taboÃ£o da serra,d7cf6e6f535ab1be102e3e7ab5185139,659d92dc24d2773bb6c74985a14d2221,06768,taboao da serra,SP
16745,06768,taboÃ£o da serra,228fa0775b9f2dd5df796a94425f18d2,b8f9ecc7915ce653a1d7ee6dbfe8f54d,06768,taboao da serra,SP
16746,06768,taboÃ£o da serra,d382ad6bb56286079ce115ea6d4db527,b8f9ecc7915ce653a1d7ee6dbfe8f54d,06768,taboao da serra,SP
16747,06768,taboÃ£o da serra,e4447a5ba83bd803a92ff42706b70816,e6fd45b1eab3940e2bfc5ed749f653fa,06768,taboao da serra,SP
16748,06768,taboÃ£o da serra,afd06216cd9836bd133a2cdfac65a6a8,91a06d0c26977d0842461ffc50e45791,06768,taboao da serra,SP
16749,06768,taboÃ£o da serra,fce48cdc0473d52a614efabbb7820add,9ee554a619106eea8aad534209f8b566,06768,taboao da serra,SP
16750,06768,taboÃ£o da serra,61ffaa693fd37373d7d5e2799cc9c90a,e21614b8b57fb38f71d8548468271a7c,06768,taboao da serra,SP
16751,06768,taboÃ£o da serra,4ef4f99132bc7ad0d21bb0a7487d1fce,6a60761506f8e88ac227c68f2ea09864,06768,taboao da serra,SP
16752,06768,taboÃ£o da serra,2bc7f60e995164669011e304e5db2dae,80a64f995d6856775e1c12a6e9116b57,06768,taboao da serra,SP
16876,06806,embu das artes,8b8e02be8fef10b7c6e2d210dbcfba7c,ed05a1bbf9f8816af23fcc68084bb87d,06806,embu,SP
16877,06806,embu das artes,2ed1b5c01561bcf39cc2f1566a8ac9f1,ed05a1bbf9f8816af23fcc68084bb87d,06806,embu,SP
16899,06810,embu das artes,5f81c3da2ae7a183c4e9e2f64e135c91,602d8c1d6b19c807cdd69e09dd6ff1cf,06810,embu,SP
16907,06813,embu das artes,92c997e26fcb5d0c3d7677dd64830c29,d0ba7b5b94efc995706e1219e9b39081,06813,embu,SP
16921,06814,embu das artes,89adeb7c49556fb4c0ea5a90291e8a62,80b802cd88ff70ff813c1c7ce62084f5,06814,embu,SP
16975,06823,embu das artes,b23ee95fb2dba205de0f7a0181778b1b,fadc1ce39affb802bca50bf6c1557221,06823,embu,SP
16991,06824,embu das artes,687de4f25e5a81aa43144a67bd2d49f5,60773a7bbe6c8189c0799fa572a43a65,06824,embu,SP
17010,06826,embu das artes,1769a3ebdaadccc529c9e90afd139850,8bc24a5f6aff334bacfd46f24430380d,06826,embu,SP
17015,06835,embu das artes,d387341bbce5ab96e3647bb0e8d0b55a,91e6fd64694fa9a828270d442ba88e03,06835,embu,SP
17031,06844,embu das artes,c04e5815b1b55566ca94507f0540bb2b,047349583aacc952cfd041dcd3c1ba1a,06844,embu,SP
17036,06846,embu das artes,fd2b46c709e963e3111374306ec28392,25e3290450952d901e27965364bf25d1,06846,embu,SP
21974,09274,santo andrÃ©,4368f0421da8cbe3603fc13ee5dec576,08bf80050747f02a7b29b40f967e1f49,09274,santo andre,SP
32501,13450,santa barbara d'oeste,09cef74048128ea86d84ab0b84a517aa,d24b1c6f6f0b58a542d74e912fd7a336,13450,santa barbara d oeste,SP
32511,13450,santa barbara d'oeste,c5293253d2861ddfc7811223b6dcbfcc,c9600276c55089ccd37cb1a360609101,13450,santa barbara d oeste,SP
32513,13450,santa barbara d'oeste,078b1cb26cc7819cfb885c7cf8f87da7,24f9855f7be17e073675a1ea3718d4d6,13450,santa barbara d oeste,SP
32543,13453,santa barbara d'oeste,aca9f3d4889f7141d94840387c9e3d5a,039a597bb045646b899477a8480bdd93,13453,santa barbara d oeste,SP
32560,13454,santa barbara d'oeste,f57c7d86e6eaf35468398ca2129f630e,b48a5ce04c2fb8f292e9762c1df4c3fc,13454,santa barbara d oeste,SP
33225,13508,rio claro,876d6b3d97349e7c61c8d30a28a94c03,c70b81d4b865dc92060a1794bd9479e8,13508,ajapi,SP
34022,13806,mogi mirim,047a3fba37e3a757da4c9e67f0d110d3,d0af32188351a712457b3c6956da3c08,13806,mogi-mirim,SP
34023,13806,mogi mirim,a52734ee63bbdd3515b91c523b2063ec,be6142cc0f610cf3fdf18d60f2498894,13806,mogi-mirim,SP
34050,13820,jaguariuna,e17f21a7f5dfaa820286567ccd5c96be,f64defe83f071b017b6215c2aab39aff,13820,monte alegre do sul,SP
34058,13820,jaguariuna,bbbb6bbcabbb1712d83b6d996869b412,219291a07997c4fc9a962719151bfa38,13820,monte alegre do sul,SP
34071,13820,jaguariuna,c87654c6c5492c2615a6c135b017bccb,ba8cb30ffcc1d04326f0d51e09efd36e,13820,monte alegre do sul,SP
34172,13841,mogi guacu,b94afa1536154b937c32785ad8263141,aa0b2eaabf40dd1b26af1f47b7d42865,13841,mogi-guacu,SP
34173,13841,mogi guacu,bc530a094537f0c6a7645e89b29bc650,02dd4969c23207b44ef9252dd7ef59f8,13841,mogi-guacu,SP
34174,13841,mogi guacu,77adec624e36e65c0a3af52452b21b12,6d2408af10e468cd1a5bc41df239cd59,13841,mogi-guacu,SP
34175,13841,mogi guacu,866aaa9d6c61762ad4240425b10fc25f,51c4ac3413acf4a49b78fe6be0904360,13841,mogi-guacu,SP
34446,13910,monte alegre do sul,8a2f91d09e7ed0db94b1c9d1dac0e305,07e9cfc8cdd6f08d6993bc4ec77aa686,13910,jaguariuna,SP
34447,13911,jaguariÃºna,932cb955d0fbf4bef9fc737585832620,b31124451c6d25e5fa513d12d33a51fb,13911,jaguariuna,SP
34448,13911,jaguariÃºna,e3ee592966c74c3bcf809148134e426f,6d9171c0d4d8c153cab5158e39b0ac1b,13911,jaguariuna,SP
37150,15650,estrela d'oeste,3517f8cb54ea9365c0af466376685f1f,1f01be0efb43b8e7c3dcb05b197fc83e,15650,estrela d oeste,SP
37201,15720,palmeira d'oeste,cf99f12a04c7b9dfb3d58338e80b7ae4,7febaab74c4fbf9f3241f62ad0c3368a,15720,palmeira d oeste,SP

In [46]:
sellers_df

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,04195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,04650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [47]:
def cross_reference_cities(
    df: pd.DataFrame, ssot_city_df: pd.DataFrame, mapping: Dict[str, str]
) -> pd.DataFrame:
    """
    Cross-references the input DataFrame with a single source of truth (SSOT) DataFrame 
    containing Brazilian zip codes and cities.

    Args:
        df (pd.DataFrame): The input DataFrame.
        ssot_city_df (pd.DataFrame): The SSOT DataFrame containing Brazilian zip codes and cities.
        mapping (Dict[str, str]): Maps the column name of the zip code and city in the datasets.
            zip_code (str): The column name in df representing the zip code.
            city (str): The column name in df representing the city name.
            true_zip_code (str): The column name in ssot_city_df representing the zip code in ssot_city_df.
            true_city (str): The column name in ssot_city_df representing the true city name.

    Returns:
        pd.DataFrame: The updated DataFrame with consistent city and zip codes.
    """
    # Extract the column mappings
    zip_code = mapping.get('zip_code')
    city = mapping.get('city')
    true_zip_code = mapping.get('true_zip_code')
    true_city = mapping.get('true_city')

    # Initialise an updated DataFrame
    updated_df = df.copy()

    try:
        # Check if required columns exist in the DataFrames
        missing_columns_df = [col for col in [zip_code, city] if col not in df.columns]
        missing_columns_ssot = [col for col in [true_zip_code, true_city] if col not in ssot_city_df.columns]

        if missing_columns_df:
            raise ValueError(f"Columns missing in input DataFrame: {', '.join(missing_columns_df)}")
        if missing_columns_ssot:
            raise ValueError(f"Columns missing in SSOT DataFrame: {', '.join(missing_columns_ssot)}")

        # Create a lookup DataFrame for mode (most frequent) values based on `zip_code`
        ssot_lookup = ssot_city_df.groupby(true_zip_code)[true_city] \
            .agg(lambda x: x.mode()[0] if not x.empty else None)

        # Update inconsistent city and zip codes in the original DataFrame
        updated_df[city] = df[zip_code].apply(lambda x: ssot_lookup.loc[x] if x in ssot_lookup.index else x)

        return updated_df

    except ValueError as ve:
        print(f"ValueError: {ve}")
        return df

    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return df

In [48]:
mapsl = {
    'zip_code': 'seller_zip_code_prefix',
    'city': 'seller_city',
    'true_zip_code': 'customer_zip_code_prefix',
    'true_city': 'customer_city'
}

cross_reference_cities(sellers_df, customers_df, mapsl)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi-guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,04195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,04650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [49]:
customers_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,03937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,06764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,06703,cotia,SP

In [50]:
orders_df[(orders_df['order_status'] == 'delivered') & (pd.isna(orders_df['order_delivered_customer_date']))]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
3002,2d1e2d5bf4dc7227b3bfebb81328c15f,ec05a6d8558c6455f0cbbd8a420ad34f,delivered,2017-11-28 17:44:07,2017-11-28 17:56:40,2017-11-30 18:12:23,NaN,2017-12-18 00:00:00
20618,f5dd62b788049ad9fc0526e3ad11a097,5e89028e024b381dc84a13a3570decb4,delivered,2018-06-20 06:58:43,2018-06-20 07:19:05,2018-06-25 08:05:00,NaN,2018-07-16 00:00:00
43834,2ebdfc4f15f23b91474edf87475f108e,29f0540231702fda0cfdee0a310f11aa,delivered,2018-07-01 17:05:11,2018-07-01 17:15:12,2018-07-03 13:57:00,NaN,2018-07-30 00:00:00
79263,e69f75a717d64fc5ecdfae42b2e8e086,cfda40ca8dd0a5d486a9635b611b398a,delivered,2018-07-01 22:05:55,2018-07-01 22:15:14,2018-07-03 13:57:00,NaN,2018-07-30 00:00:00
82868,0d3268bad9b086af767785e3f0fc0133,4f1d63d35fb7c8999853b2699f5c7649,delivered,2018-07-01 21:14:02,2018-07-01 21:29:54,2018-07-03 09:28:00,NaN,2018-07-24 00:00:00
92643,2d858f451373b04fb5c984a1cc2defaf,e08caf668d499a6d643dafd7c5cc498a,delivered,2017-05-25 23:22:43,2017-05-25 23:30:16,NaN,NaN,2017-06-23 00:00:00
97647,ab7c89dc1bf4a1ead9d6ec1ec8968a84,dd1b84a7286eb4524d52af4256c0ba24,delivered,2018-06-08 12:09:39,2018-06-08 12:36:39,2018-06-12 14:10:00,NaN,2018-06-26 00:00:00
98038,20edc82cf5400ce95e1afacc25798b31,28c37425f1127d887d7337f284080a0f,delivered,2018-06-27 16:09:12,2018-06-27 16:29:30,2018-07-03 19:26:00,NaN,2018-07-19 00:00:00

In [105]:
def cross_reference_cities(
    df: pd.DataFrame, ssot_city_df: pd.DataFrame, mapping: Dict[str, str]
) -> pd.DataFrame:
    """
    Cross-references the input DataFrame with a single source of truth (SSOT) DataFrame 
    containing Brazilian zip codes and cities.

    Args:
        df (pd.DataFrame): The input DataFrame.
        ssot_city_df (pd.DataFrame): The SSOT DataFrame containing Brazilian zip codes and cities.
        mapping (Dict[str, str]): Maps the column name of the zip code and city in the datasets.
            zip_code (str): The column name in df representing the zip code.
            city (str): The column name in df representing the city name.
            true_zip_code (str): The column name in ssot_city_df representing the zip code in ssot_city_df.
            true_city (str): The column name in ssot_city_df representing the true city name.

    Returns:
        pd.DataFrame: The updated DataFrame with consistent city and zip codes.
    """
    # Extract the column mappings
    zip_code = mapping.get('zip_code')
    city = mapping.get('city')
    true_zip_code = mapping.get('true_zip_code')
    true_city = mapping.get('true_city')

    # Initialise an updated DataFrame
    updated_df = df.copy()

    try:
        # Check if required columns exist in the DataFrames
        missing_columns_df = [col for col in [zip_code, city] if col not in df.columns]
        missing_columns_ssot = [col for col in [true_zip_code, true_city] if col not in ssot_city_df.columns]

        if missing_columns_df:
            raise ValueError(f"Columns missing in input DataFrame: {', '.join(missing_columns_df)}")
        if missing_columns_ssot:
            raise ValueError(f"Columns missing in SSOT DataFrame: {', '.join(missing_columns_ssot)}")

        # Create a lookup DataFrame for mode (most frequent) values based on `zip_code`
        ssot_lookup = ssot_city_df.groupby(true_zip_code)[true_city] \
            .agg(lambda x: x.mode()[0] if not x.empty else None)

        # Update inconsistent city and zip codes in the original DataFrame
        updated_df[city] = df.apply(lambda row: ssot_lookup.loc[row[zip_code]] if row[zip_code] in ssot_lookup.index else row[city], axis=1)

        return updated_df

    except ValueError as ve:
        print(f"ValueError: {ve}")
        return df

    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return df

In [110]:
new_sellers_df = cross_reference_cities(geolocation_df, customers_df, 
                       {
                        'zip_code': 'geolocation_zip_code_prefix',
                        'city': 'geolocation_city',
                        'true_zip_code': 'customer_zip_code_prefix',
                        'true_city': 'customer_city'
                       })

In [107]:
new_sellers_df[new_sellers_df.isna().any(axis=1)]

Empty DataFrame
Columns: [geolocation_zip_code_prefix, geolocation_lat, geolocation_lng, geolocation_city, geolocation_state]
Index: []

In [109]:
new_sellers_df

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,01037,-23.545621,-46.639292,sao paulo,SP
1,01046,-23.546081,-46.644820,sao paulo,SP
2,01046,-23.546129,-46.642951,sao paulo,SP
3,01041,-23.544392,-46.639499,sao paulo,SP
4,01035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [108]:
new_sellers_df['geolocation_city'].value_counts()

geolocation_city
sao paulo                159919
rio de janeiro            62152
belo horizonte            27806
curitiba                  16594
porto alegre              13522
                          ...
sao pedro dos crentes         1
sao vicente do grama          1
bicuiba                       1
tres aliancas                 1
ribamar fiquene               1
Name: count, Length: 6418, dtype: int64

In [89]:
geolocation_df['geolocation_city'].value_counts()

geolocation_city
sao paulo         135800
rio de janeiro     62151
belo horizonte     27805
sÃ£o paulo          24918
curitiba           16593
                   ...
sao bras               1
sÃ£o brÃ¡s               1
ibitiranga             1
quixabÃ¡                1
maceiaÂ³                1
Name: count, Length: 8011, dtype: int64

In [77]:
def date_difference(row: pd.Series, params: dict) -> int:
    """
    Calculate the difference in days between two dates.

    Parameters:
        row (pd.Series): The row from the dataset.
        mapping (dict): A dictionary containing:
            - 'actual_date': Column name for actual delivery first date.
            - 'estimated_date': Column name for the estimated delivery date.
            - 'actual_date_format': Format of the actual delivery date.
            - 'estimated_date_format': Format of the estimated delivery date.

    Returns:
        int: The difference in days between the two dates.
    """

    print(row)
    try:
        # Identify the 2 dates
        date1 = row[params['actual_date']]
        date2 = row[params['estimated_date']]
        # Check if there are any missing dates
        if pd.isna(date1) or pd.isna(date2):
            return None # Returns None when its not delivered yet
        
        # Parse the dates
        d1 = datetime.strptime(date1, params['actual_date_format'])
        d2 = datetime.strptime(date2, params['estimated_date_format'])

        # Calculate the difference
        day_difference = (d2 - d1).days
        return day_difference
    
    except ValueError as ve:
        raise ValueError(f"Invalid date or format: {ve}")
    
def feature_engineering(df: pd.DataFrame, new_feature: str, function_name: str, mapping: Dict[str, str]) -> pd.DataFrame:
    """
    Create a new feature based on the features in the row.

    Parameters:
        df (pd.DataFrame): The input DataFrame.
        new_feature (str): The column name of the new feature to be created.
        function_name (str): The name of the function to be applied in order to create the feature.
        mapping (List[str]): Mapping column names to the parameter names used by the function. Provides other arguments for the function.

    Returns:
        pd.DataFrame: The DataFrame with new features.
    """
    # Obtain the function based on name
    function = globals()[function_name]

    # Check if the function is valid
    if not callable(function):
        raise ValueError(f"Function is invalid or not callable")
    
    # Initialise the feature engineered DataFrame
    feature_engineered_df = df.copy()
    
    # Apply the function to each row and create the new feature
    feature_engineered_df[new_feature] = df.apply(lambda row: function(row, mapping), axis=1)
    return feature_engineered_df

In [76]:
feature_engineering(orders_df, 'new', 'date_difference', {
         'actual_date': 'order_delivered_customer_date',
         'estimated_date': 'order_estimated_delivery_date',
         'actual_date_format': '%Y-%m-%d %H:%M:%S',
         'estimated_date_format': '%Y-%m-%d %H:%M:%S',
    })

order_id                         e481f51cbdc54678b7cc49136f2d6af7
customer_id                      9ef432eb6251297304e76186b10a928d
order_status                                            delivered
order_purchase_timestamp                      2017-10-02 10:56:33
order_approved_at                             2017-10-02 11:07:15
order_delivered_carrier_date                  2017-10-04 19:55:00
order_delivered_customer_date                 2017-10-10 21:25:13
order_estimated_delivery_date                 2017-10-18 00:00:00
Name: 0, dtype: object

KeyError: 'date1'

In [111]:
def drop_rows_lat_lng(df: pd.DataFrame, lat_lng_conditions: dict) -> pd.DataFrame:
    """
    Removes rows from the DataFrame that do not match the specified conditions for the latitude and longitude.

    Args:
        df (pd.DataFrame): The input DataFrame.
        lat_lng_conditions (dict): A dictionary containing the minimum and maximum lat and lng values.

    Returns:
        pd.DataFrame: The DataFrame with rows matching the conditions removed.
    """
    try:
        # Initialize the mask for rows to keep
        mask = pd.Series(True, index=df.index)
        lat_condition = lat_lng_conditions["geolocation_lat"]
        lng_condition = lat_lng_conditions["geolocation_lng"]

        # Create the conditions
        conditions = {
            'geolocation_lat': lambda x: lat_condition['min'] < x < lat_condition['max'],
            'geolocation_lng': lambda x: lng_condition['min'] < x < lng_condition['max']
        }

        for column, condition in conditions.items():
            # Apply the condition and remove rows which do not meet the condition
            mask &= df[column].apply(condition)
        
        # Return the filtered DataFrame
        return df[mask]
    
    except Exception as e:
        # Showcase the error
        print(f"An unexpected error occurred: {e}")
        return df

In [114]:
drop_rows_lat_lng(geolocation_df, {
    'geolocation_lat':{
      'min': -33.742,
      'max': 5.272
    },

    'geolocation_lng':{
      'min': -73.992,
      'max': -34.792
    }
}
).groupby('geolocation_zip_code_prefix')[['geolocation_city']].count()

                             geolocation_city
geolocation_zip_code_prefix
01001                                      26
01002                                      13
01003                                      17
01004                                      22
01005                                      25
...                                       ...
99960                                       5
99965                                       6
99970                                      21
99980                                      26
99990                                       2

[19010 rows x 1 columns]

In [121]:
def drop_erroneous_orders(df: pd.DataFrame) -> pd.DataFrame:
    """
    Removes orders that were considered delivered but do not have a customer delivered date.

    Args:
        df (pd.DataFrame): The input orders DataFrame.

    Returns:
        pd.DataFrame: The DataFrame without the erroneous orders.
    """
    try:
        # Filters out the erroneous orders
        df = df[~((df['order_status'] == 'delivered') & pd.isna(df['order_delivered_customer_date']))]
        return df
    
    except Exception as e:
        print(f"An unexpected error occurred when dropping erroneous orders: {e}")
        return df

In [122]:
drop_erroneous_orders(orders_df)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00